<main class="bg-white pb-20 rounded-xl">
  <div class="flex items-center justify-center">
    <h3
      class="px-6 py-3.5 text-5xl font-semibold text-blue-800 rounded-lg text-center dark:bg-transparent dark:focus:ring-blue-800 mb-8 mt-8"
    >
      Parceiros
    </h3>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 px-5 sm:px-10 md:p-40 md:py-0"
  >
    <div class="relative group reveal2">
      <a href="#" target="_blank">
        <img
          class="h-auto max-w-full rounded-lg transition-shadow duration-300"
          src="assets/images/logos-leves/webp/policoncret.webp"
          alt="Policoncret"
          loading="lazy"
        />
        <div
          class="absolute inset-0 bg-primary opacity-0 group-hover:opacity-20 rounded-lg transition-opacity duration-300"
        ></div>
      </a>
    </div>
    <div class="relative group reveal2">
      <a href="#" target="_blank">
        <img
          class="h-auto max-w-full rounded-lg transition-shadow duration-300"
          src="assets/images/logos-leves/webp/ppgasa.webp"
          alt="PPGASA"
          loading="lazy"
        />
        <div
          class="absolute inset-0 bg-primary opacity-0 group-hover:opacity-20 rounded-lg transition-opacity duration-300"
        ></div>
      </a>
    </div>
    <div class="relative group reveal2">
      <a href="#" target="_blank">
        <img
          class="h-auto max-w-full rounded-lg transition-shadow duration-300"
          src="assets/images/logos-leves/webp/cesmac.webp"
          alt="CESMAC"
          loading="lazy"
        />
        <div
          class="absolute inset-0 bg-primary opacity-0 group-hover:opacity-20 rounded-lg transition-opacity duration-300"
        ></div>
      </a>
    </div>
    <div class="relative group reveal2">
      <a href="#" target="_blank">
        <img
          class="h-auto max-w-full rounded-lg transition-shadow duration-300"
          src="assets/images/logos-leves/webp/fapeal.webp"
          alt="FAPEAL"
          loading="lazy"
        />
        <div
          class="absolute inset-0 bg-primary opacity-0 group-hover:opacity-20 rounded-lg transition-opacity duration-300"
        ></div>
      </a>
    </div>
    <div class="relative group reveal2">
      <a href="#" target="_blank">
        <img
          class="h-auto max-w-full rounded-lg transition-shadow duration-300"
          src="assets/images/logos-leves/webp/cnpq.webp"
          alt="CNPq"
          loading="lazy"
        />
        <div
          class="absolute inset-0 bg-primary opacity-0 group-hover:opacity-20 rounded-lg transition-opacity duration-300"
        ></div>
      </a>
    </div>
    <div class="relative group reveal2">
      <a href="#" target="_blank">
        <img
          class="h-auto max-w-full rounded-lg transition-shadow duration-300"
          src="assets/images/logos-leves/webp/capes.webp"
          alt="CAPES"
          loading="lazy"
        />
        <div
          class="absolute inset-0 bg-primary opacity-0 group-hover:opacity-20 rounded-lg transition-opacity duration-300"
        ></div>
      </a>
    </div>
    <div class="relative group reveal2">
      <a href="#" target="_blank">
        <img
          class="h-auto max-w-full rounded-lg transition-shadow duration-300"
          src="assets/images/logos-leves/webp/unesco.webp"
          alt="UNESCO"
          loading="lazy"
        />
        <div
          class="absolute inset-0 bg-primary opacity-0 group-hover:opacity-20 rounded-lg transition-opacity duration-300"
        ></div>
      </a>
    </div>
    <div class="relative group reveal2">
      <a href="#" target="_blank">
        <img
          class="h-auto max-w-full rounded-lg transition-shadow duration-300"
          src="assets/images/logos-leves/webp/acpn.webp"
          alt="Advances in Cleaner Production Network"
          loading="lazy"
        />
        <div
          class="absolute inset-0 bg-primary opacity-0 group-hover:opacity-20 rounded-lg transition-opacity duration-300"
        ></div>
      </a>
    </div>
    <div class="relative group reveal2">
      <a href="#" target="_blank">
        <img
          class="h-auto max-w-full rounded-lg transition-shadow duration-300"
          src="assets/images/logos-leves/webp/oceandecade.webp"
          alt="Ocean Decade"
          loading="lazy"
        />
        <div
          class="absolute inset-0 bg-primary opacity-0 group-hover:opacity-20 rounded-lg transition-opacity duration-300"
        ></div>
      </a>
    </div>
  </div>
</main>
