<div class="grid grid-cols-2 md:grid-cols-3 gap-4 p-40">
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/policoncret.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/logotipos/PPGASA.png"
            alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/CESMAC.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/FAPEAL.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/CNPq.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/CAPES.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/unesco.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/Advances in Cleaner Production Network.png" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/Ocean Decade.png" alt="">
    </div>
</div>