<div class="grid grid-cols-2 md:grid-cols-3 gap-4 p-40">
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/webp/policoncret.webp" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="assets/images/logotipos/webp/PPGASA.webp"
            alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/webp/CESMAC.webp" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/webp/FAPEAL.webp" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/webp/CNPq.webp" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/webp/CAPES.webp" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/webp/unesco.webp" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/webp/Advances in Cleaner Production Network.webp" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="assets/images/logotipos/webp/Ocean Decade.webp" alt="">
    </div>
</div>