<main
  class="bg-white text-primary min-h-screen rounded-lg flex items-start pt-10 sm:pt-20 pb-16 justify-center px-6 mt-64 md:mt-80 lg:mt-56 text-justify md:px-14 flex-col gap-8">
  <h1 class="text-primary text-center text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-extrabold">Linha do tempo</h1>
  <ol class="relative border-s border-primary">
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-primary"></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary">Dezembro 2023</time>
      <h3 class="text-lg font-semibold text-gray-900">
        Inauguração laboratório LERE
      </h3>
      <p class="text-base font-normal text-primary">
        Fotos da inauguração do Laboratório de Emergia e Resiliência dos Ecossistemas (LERE)
      </p>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 mt-5 justify-center items-center gap-4">
        <img src="assets/images/inauguracao-lere/inauguracao1.jpeg" alt="" class="w-screen sm:w-4/5">
        <img src="assets/images/inauguracao-lere/inauguracao2.jpeg" alt="" class="w-screen sm:w-4/5">
        <img src="assets/images/inauguracao-lere/inauguracao3.jpeg" alt="" class="w-screen sm:w-4/5">
        <img src="assets/images/inauguracao-lere/inauguracao7.jpeg" alt="" class="w-screen sm:w-4/5">
        <img src="assets/images/inauguracao-lere/inauguracao6.jpeg" alt="" class="w-screen sm:w-4/5">
        <img src="assets/images/inauguracao-lere/inauguracao4.jpeg" alt="" class="w-screen sm:w-4/5">
      </div>
    </li>

    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-primary"></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary">2023</time>
      <h3 class="text-lg font-semibold text-gray-900">Participação no 12th IWACP</h3>
      <p class="mb-4 text-base font-normal text-primary">
        Participação do coordenador do Projeto Oceanos de Plástico Prof.Dr Jessé Marques Pavão no 12th IWACP –
        INTERNATIONAL WORKSHOP ON ADVANCES IN CLEANER PRODUCTION, realizado em Stellenbosch na África Do Sul no ano de
        2023.
      </p>
      <img src="assets/images/iwppo/foto1.png" alt="Participação no 12th IWACP" class="w-screen sm:w-1/5">
    </li>
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-primary"></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary">Março 2024</time>
      <h3 class="text-lg font-semibold text-gray-900">Assinatura do termo de endosso</h3>
      <p class="mb-4 text-base font-normal text-primary">
        Assinatura do termo de endosso do Projeto Oceanos de Plástico com o Comitê Executivo da Década dos Oceanos, no
        mês de março de 2024. Feito inédito em que pela primeira vez uma instituição não pública alagoana aprova um
        projeto com envergadura financeira junto ao CNPq com apoio das Nações Unidas- ONU.
      </p>
      <img src="assets/images/iwppo/foto2.png" alt="Assinatura do termo de endosso" class="w-screen sm:w-1/5">
    </li>
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-primary"></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary">Abril 2024</time>
      <h3 class="text-lg font-semibold text-gray-900">Participação na série documental Operação Oceano</h3>
      <p class="mb-4 text-base font-normal text-primary">
        Participação dos integrantes do projeto Oceanos de Plástico e da startup Policoncret na série documental
        Operação Oceano, exibida no programa Balanço Geral da TV Pajuçara em abril de 2024.
      </p>
      <img src="assets/images/iwppo/foto3.png" alt="Participação na série documental Operação Oceano"
        class="w-screen sm:w-1/5">
    </li>
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-primary"></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary">Maio 2024</time>
      <h3 class="text-lg font-semibold text-gray-900">Participação no WSL Circuito Banco do Brasil Surf</h3>
      <p class="mb-4 text-base font-normal text-primary">
        Participação do Projeto Oceanos de Plástico e da startup Policoncret na WSL Circuito Banco do Brasil Surf
        realizado na Praia do Francês, em Marechal Deodoro no mês de maio de 2024.
      </p>
      <img src="assets/images/iwppo/foto4.png" alt="Participação no WSL Circuito Banco do Brasil Surf"
        class="w-screen sm:w-1/5">
    </li>
    <li class="mb-10 ms-4">
      <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-primary"></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary">Junho 2024</time>
      <h3 class="text-lg font-semibold text-gray-900">Estreia do documentário Entre o Plástico e o Mar</h3>
      <p class="mb-4 text-base font-normal text-primary">
        Estreia do documentário em curta-metragem Entre o Plástico e o Mar, filme produzido pela equipe do Projeto
        Oceanos de Plástico em junho de 2024.
      </p>
      <img src="assets/images/iwppo/foto5.png" alt="Estreia do documentário Entre o Plástico e o Mar"
        class="w-screen sm:w-1/5">
    </li>
  </ol>
</main>