<main
  class="bg-white text-primary min-h-screen rounded-lg flex items-start pt-10 sm:pt-20 pb-16 justify-center px-6 mt-64 md:mt-80 lg:mt-56 text-justify md:px-14 flex-col gap-8"
>
  <h1 class="text-primary text-center text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-extrabold">Linha do tempo</h1>
  <ol class="relative border-s border-primary">
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-primary"
      ></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary"
        >Fevereiro 2013</time
      >
      <h3 class="text-lg font-semibold text-gray-900">Início do projeto</h3>
      <p class="mb-4 text-base font-normal text-primary">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed officia
        delectus molestiae natus totam nostrum voluptates consequatur mollitia
        nulla pariatur!
      </p>
      <a
        href="#"
        class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 w-36"
        >Saiba mais
        <svg
          class="w-3 h-3 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          /></svg
      ></a>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-primary"
      ></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary"
        >Dezembro 2014</time
      >
      <h3 class="text-lg font-semibold text-gray-900">
        Lorem ipsum dolor sit amet.
      </h3>
      <p class="text-base font-normal text-primary">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus
        recusandae nesciunt nostrum asperiores cupiditate, nisi at debitis, quia
        sunt itaque voluptatum rem facere quibusdam earum optio beatae?
        Perspiciatis, dignissimos tenetur!
      </p>
    </li>
    <li class="ms-4 mb-10">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-primary"
      ></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary"
        >Abril 2015</time
      >
      <h3 class="text-lg font-semibold text-gray-900">Lorem, ipsum.</h3>
      <p class="text-base font-normal text-primary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
        nihil quidem. Quasi, modi fugit animi blanditiis rem cum omnis dicta
        quis necessitatibus sit numquam labore, quibusdam, ullam alias
        repudiandae quia quas facilis cupiditate eligendi eius saepe ipsam
        dolorum esse! Sequi.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-primary"
      ></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary"
        >Maio 2015</time
      >
      <h3 class="text-lg font-semibold text-gray-900">
        Lorem ipsum dolor sit amet.
      </h3>
      <p class="text-base font-normal text-primary">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus
        recusandae nesciunt nostrum asperiores cupiditate, nisi at debitis, quia
        sunt itaque voluptatum rem facere quibusdam earum optio beatae?
        Perspiciatis, dignissimos tenetur!
      </p>
    </li>
    <li class="ms-4 mb-10">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-primary"
      ></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary"
        >Janeiro 2016</time
      >
      <h3 class="text-lg font-semibold text-gray-900">Lorem, ipsum.</h3>
      <p class="text-base font-normal text-primary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
        nihil quidem. Quasi, modi fugit animi blanditiis rem cum omnis dicta
        quis necessitatibus sit numquam labore, quibusdam, ullam alias
        repudiandae quia quas facilis cupiditate eligendi eius saepe ipsam
        dolorum esse! Sequi.
      </p>
    </li>
    <li class="ms-4 mb-10">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-primary"
      ></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary"
        >Janeiro 2016</time
      >
      <h3 class="text-lg font-semibold text-gray-900">Lorem, ipsum.</h3>
      <p class="text-base font-normal text-primary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
        nihil quidem. Quasi, modi fugit animi blanditiis rem cum omnis dicta
        quis necessitatibus sit numquam labore, quibusdam, ullam alias
        repudiandae quia quas facilis cupiditate eligendi eius saepe ipsam
        dolorum esse! Sequi.
      </p>
    </li>
    <li class="ms-4 mb-10">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-primary"
      ></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary"
        >Março 2017</time
      >
      <h3 class="text-lg font-semibold text-gray-900">Lorem, ipsum.</h3>
      <p class="text-base font-normal text-primary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
        nihil quidem. Quasi, modi fugit animi blanditiis rem cum omnis dicta
        quis necessitatibus sit numquam labore, quibusdam, ullam alias
        repudiandae quia quas facilis cupiditate eligendi eius saepe ipsam
        dolorum esse! Sequi.
      </p>
    </li>
    <li class="ms-4 mb-10">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-primary"
      ></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary"
        >Outubro 2018</time
      >
      <h3 class="text-lg font-semibold text-gray-900">Lorem, ipsum.</h3>
      <p class="text-base font-normal text-primary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
        nihil quidem. Quasi, modi fugit animi blanditiis rem cum omnis dicta
        quis necessitatibus sit numquam labore, quibusdam, ullam alias
        repudiandae quia quas facilis cupiditate eligendi eius saepe ipsam
        dolorum esse! Sequi.
      </p>
    </li>
    <li class="ms-4">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -start-1.5 border border-primary"
      ></div>
      <time class="mb-1 text-xl font-bold leading-none text-primary"
        >Fevereiro 2019</time
      >
      <h3 class="text-lg font-semibold text-gray-900">Lorem, ipsum.</h3>
      <p class="text-base font-normal text-primary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis,
        nihil quidem. Quasi, modi fugit animi blanditiis rem cum omnis dicta
        quis necessitatibus sit numquam labore, quibusdam, ullam alias
        repudiandae quia quas facilis cupiditate eligendi eius saepe ipsam
        dolorum esse! Sequi.
      </p>
    </li>
  </ol>
</main>
