<main class="min-h-screen text-primary bg-white rounded-lg mb-2">
  <div id="accordion-nested-parent" data-accordion="collapse">
    <h2 id="accordion-collapse-heading-1">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-1 hover:bg-gray-100 focus:ring-gray-200 gap-3 rounded-lg bg-white"
        data-accordion-target="#accordion-collapse-body-1"
        aria-expanded="true"
        aria-controls="accordion-collapse-body-1"
      >
        <span class="text-primary">APRESENTAÇÃO</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-1"
      class="hidden"
      aria-labelledby="accordion-collapse-heading-1"
    >
      <div class="p-5 border border-b-0 border-gray-200">
        <p class="mb-2 text-primary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
          quibusdam eveniet consequuntur quo ab, sapiente rerum? Nisi et
          doloribus sit architecto corrupti quisquam voluptatem dolore. Id
          maxime earum, consequuntur quidem nulla autem repudiandae laborum
          alias accusantium quam voluptates, esse quaerat cumque consequatur
          distinctio at facilis. Rerum sequi eligendi odit dolore!
        </p>
        <p class="mb-2 text-primary">
          Conheça nossa equipe de colaboradores
          <a href="#" class="text-blue-600 hover:underline">clicando aqui</a>
          e veja nosso lattes e linkedin!
        </p>
        <p class="mb-4 text-primary">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem,
          ipsum!
        </p>
        <!-- Nested accordion -->
        <div id="accordion-nested-collapse" data-accordion="collapse">
          <h2 id="accordion-nested-collapse-heading-1">
            <button
              type="button"
              class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-primary border border-b-0 border-gray-200 focus:ring-1 focus:ring-gray-200 hover:bg-gray-100 gap-3"
              data-accordion-target="#accordion-nested-collapse-body-1"
              aria-expanded="false"
              aria-controls="accordion-nested-collapse-body-1"
            >
              <span>O que fazemos?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"
                />
              </svg>
            </button>
          </h2>
          <div
            id="accordion-nested-collapse-body-1"
            class="hidden"
            aria-labelledby="accordion-nested-collapse-heading-1"
          >
            <div class="p-5 border border-b-0 border-gray-200">
              <p class="text-primary">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequatur ullam libero aperiam natus! In et excepturi vero,
                consequuntur nihil officiis reprehenderit delectus placeat
                repellat quae explicabo dolor quisquam perferendis deserunt.
              </p>
            </div>
          </div>
          <h2 id="accordion-nested-collapse-heading-2">
            <button
              type="button"
              class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-primary border border-b-0 border-gray-200 focus:ring-1 focus:ring-gray-200 hover:bg-gray-100 gap-3"
              data-accordion-target="#accordion-nested-collapse-body-2"
              aria-expanded="false"
              aria-controls="accordion-nested-collapse-body-2"
            >
              <span>Onde estamos localizados?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"
                />
              </svg>
            </button>
          </h2>
          <div
            id="accordion-nested-collapse-body-2"
            class="hidden"
            aria-labelledby="accordion-nested-collapse-heading-2"
          >
            <div class="p-5 border border-b-0 border-gray-200">
              <p class="text-primary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus vitae consectetur maxime laboriosam, illum quidem sit
                enim vero unde dolores magni incidunt ipsam veritatis? Delectus
                doloribus culpa corporis optio nam.
              </p>
            </div>
          </div>
          <h2 id="accordion-nested-collapse-heading-3">
            <button
              type="button"
              class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-primary border border-gray-200 focus:ring-1 focus:ring-gray-200 hover:bg-gray-100 gap-3"
              data-accordion-target="#accordion-nested-collapse-body-3"
              aria-expanded="false"
              aria-controls="accordion-nested-collapse-body-3"
            >
              <span>Como posso contribuir?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"
                />
              </svg>
            </button>
          </h2>
          <div
            id="accordion-nested-collapse-body-3"
            class="hidden"
            aria-labelledby="accordion-nested-collapse-heading-3"
          >
            <div class="p-5 border border-gray-200">
              <p class="mb-2 text-primary">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
                aperiam animi perferendis explicabo sit ipsum vero? Iste,
                reiciendis minus laudantium quas sint veritatis distinctio
                repellendus cupiditate suscipit obcaecati, porro fugiat!
              </p>
              <p class="mb-2 text-primary">Lorem ipsum dolor sit amet.</p>
              <ul class="ps-5 text-primary list-disc">
                <li>
                  <a href="#" class="text-blue-600 hover:underline"
                    >Clique aqui!</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    rel="nofollow"
                    class="text-blue-600 hover:underline"
                    >Clique aqui! 2</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End: Nested accordion -->
      </div>
    </div>

    <h2 id="accordion-collapse-heading-2">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-1 hover:bg-gray-100 focus:ring-gray-200 gap-3 rounded-lg bg-white"
        data-accordion-target="#accordion-collapse-body-1"
        aria-expanded="true"
        aria-controls="accordion-collapse-body-2"
        routerLink="realizacoes-academicas"
      >
        <span class="text-primary">REALIZAÇÕES ACADÊMICAS</span>
        <i class="pi pi-external-link"></i>
      </button>
    </h2>

    <h2 id="accordion-collapse-heading-3">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-primary border border-gray-200 focus:ring-1 focus:ring-gray-200 hover:bg-gray-100 gap-3 rounded-lg"
        data-accordion-target="#accordion-collapse-body-3"
        aria-expanded="false"
        aria-controls="accordion-collapse-body-3"
      >
        <span class="text-primary">UNIP</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-3"
      class="hidden"
      aria-labelledby="accordion-collapse-heading-3"
    >
      <div class="p-5 border border-gray-200">
        <p class="mb-2 text-primary">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto
          ab quisquam necessitatibus ad corrupti! Cupiditate dolorum ex
          quibusdam quo minima obcaecati repellendus expedita? Quasi, excepturi
          ut eos impedit reiciendis iusto?
        </p>
        <p class="text-primary">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos!
          <a href="#" class="text-blue-600 hover:underline">clicando aqui</a>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <h2 id="accordion-collapse-heading-4">
        <button
          type="button"
          class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-1 hover:bg-gray-100 focus:ring-gray-200 gap-3 rounded-lg bg-white"
          routerLink="linha-do-tempo"
        >
          <span class="text-primary">LINHA DO TEMPO</span>
          <i class="pi pi-external-link text-primary"></i>
        </button>
      </h2>

  </div>
</main>
