<main class="flex flex-wrap sm:flex-col md:flex-row justify-center items-center bg-textWhite min-h-screen py-10 reveal rounded-xl mb-2"
  id="projetos">
  <div class="container w-full sm:w-1/2 mx-auto h-full flex justify-center items-center">
    <img
      class="rounded-lg shadow-xl dark:shadow-gray-800 sm:max-w-sm max-w-80 md:max-w-lg lg:max-w-xl xl:max-w-5xl h-auto object-contain"
      src="assets/images/monitoramento.jpeg" alt="image description" />
  </div>
  <div
    class="container mx-10 px-4 sm:px-10 lg:px-20 py-10 w-full sm:w-3/4 lg:w-1/2 flex flex-col sm:items-center rounded-xl shadow-2xl dark:shadow-gray-400 reveal">
    <h2
      class="text-2xl sm:text-3xl md:text-4xl font-extrabold text-primary leading-tight mb-4 text-center sm:items-center z-[1]">
      Monitoramento do <br />plástico no litoral <br />alagoano
    </h2>
    <img
      class="rounded-lg sm:max-w-sm max-w-60 md:max-w-sm lg:max-w-sm xl:max-w-lg h-auto object-contain relative bottom-8 left-4 sm:left-6"
      src="assets/images/fundo.png" alt="image description" />
    <p class="text-base sm:text-lg md:text-xl max-w-2xl mb-8 text-primary text-center md:text-center">
      Utilizando imagens do satélite <b>Sentinel-2</b>, processadas no Google Earth
      Engine com JavaScript e análises avançadas em Python, este projeto
      identifica e monitora resíduos plásticos no litoral de Alagoas. Combinando
      sensoriamento remoto, machine learning e validação em campo, a iniciativa
      busca mapear áreas críticas, gerar dados precisos e apoiar ações de
      preservação ambiental. Descubra mais na página de projetos! 🌊🐢
    </p>
    <div class="flex justify-center sm:justify-start">
      <button type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        Ver projeto
      </button>
    </div>
  </div>
</main>