<main class="flex flex-wrap sm:flex-col md:flex-row justify-center items-center bg-primary">
  <div class="container mx-auto px-20 py-20 w-full sm:w-1/2 flex flex-col">
    <h2 class="text-4xl px-20 font-extrabold text-textWhite leading-tight mb-4">
      Oceanos de Plástico do <br />
      Centro Universitário <br />
      CESMAC
    </h2>
    <p class="text-lg sm:text-base px-20 md:text-lg max-w-2xl mb-8 text-textWhite">
      O Projeto de Pesquisa Oceanos de Plástico do Centro Universitário Cesmac,
      aprovado pelo Conselho Nacional de Desenvolvimento Científico e
      Tecnológico (CNPq), tem como objetivo o monitoramento da cadeia produtiva
      do plástico, integrando estratégias de descarte e reciclagem para
      enfrentamento da poluição dos oceanos.
    </p>
    <button
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm mx-20 px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-max"
    >
      Saiba mais <i class="pi pi-angle-right"></i>
    </button>
  </div>
  <div class="container w-full sm:w-1/2 mx-auto h-full flex justify-center">
    <img
      class="h-auto max-w-xl rounded-lg shadow-xl dark:shadow-gray-800 sm:max-w-xs md:max-w-sm lg:max-w-md xl:max-w-2xl"
      src="assets/images/logo-completa-op.png"
      alt="image description"
    />
  </div>
</main>
