<nav class="border-gray-200 bg-transparent fixed top-0 left-0 w-full z-50">
  <div class="max-w-[90vw] flex flex-wrap items-center justify-around mx-auto p-4 bg-primary rounded-xl mt-2">
    <a routerLink="/" class="flex flex-col lg:flex-row items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/images/logos-leves/webp/oceanosdeplastico.webp" class="h-32 w-auto rounded-full"
        alt="Logo oceanos de plástico" k />
      <span class="self-center text-xl lg:text-3xl font-semibold whitespace-nowrap text-white hover:cursor-default">
        Oceanos de Plástico
      </span>
    </a>
    <div class="flex items-center md:order-2 space-x-1 md:space-x-0 rtl:space-x-reverse justify-between">
      <button type="button" data-dropdown-toggle="language-dropdown-menu"
        class="inline-flex items-center font-medium justify-center px-4 py-2 text-sm text-white rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-secondary hover:text-white">
        <app-flag-brazil />
        Brasil (PT-BR)
      </button>
      <div
        class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-secondary"
        id="language-dropdown-menu">
        <ul class="py-2 font-medium" role="none">
          <li>
            <a href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-white dark:hover:bg-blue-700 dark:hover:text-white"
              role="menuitem">
              <div class="inline-flex items-center">
                <app-flag-us />
                English (US)
              </div>
            </a>
          </li>
        </ul>
      </div>
      <button data-collapse-toggle="navbar-language" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-textWhite rounded-lg md:hidden hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-textWhite dark:hover:bg-secondary dark:focus:ring-gray-600"
        aria-controls="navbar-language" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-" id="navbar-language">
      <ul
        class="flex flex-col font-medium md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:border-gray-700 bg-primary py-4 min-h-16 min-w-[30vw] items-center justify-center">
        <li class="relative group">
          <a
            class="flex items-center justify-between w-full py-2 px-3 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
            Equipe
            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </a>
          <div
            class="absolute left-0 z-50 hidden group-hover:block bg-white dark:bg-secondary text-black dark:text-white shadow-xl rounded-lg w-max p-6">
            <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
              <a routerLink="/equipe/ppgasa" class="hover:bg-blue-700 rounded-md text-center">PPGASA</a>
              <a routerLink="/equipe/lere" class="hover:bg-blue-700 rounded-md text-center">LERE</a>
              <a routerLink="/equipe/ufal" class="hover:bg-blue-700 rounded-md text-center">UFAL</a>
              <a routerLink="/equipe/unip" class="hover:bg-blue-700 rounded-md text-center">UNIP</a>
              <a routerLink="/equipe/ufpe" class="hover:bg-blue-700 rounded-md text-center">UFPE</a>
              <a routerLink="/equipe/ufce" class="hover:bg-blue-700 rounded-md text-center">UFCE</a>
              <a routerLink="/equipe/ufba" class="hover:bg-blue-700 rounded-md text-center">UFBA</a>
              <a routerLink="/equipe/ufpr" class="hover:bg-blue-700 rounded-md text-center">UFPR</a>
              <a routerLink="/equipe/feevale" class="hover:bg-blue-700 rounded-md text-center">FEEVALE</a>
              <a routerLink="/equipe/lisboa" class="hover:bg-blue-700 rounded-md text-center">LISBOA</a>
              <a routerLink="/equipe/cemaden" class="hover:bg-blue-700 rounded-md text-center">CEMADEN</a>
              <a routerLink="/equipe/scu" class="hover:bg-blue-700 rounded-md text-center">SCU</a>
            </div>
          </div>
        </li>

        <li>
          <a routerLink="/divulgacao-cientifica" routerLinkActive="router-link-active"
            class="block py-2 px-3 md:p-0 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Divulgação
            Científica</a>
        </li>
        <li>
          <a routerLink="/janela-ambiental" routerLinkActive="router-link-active"
            class="block py-2 px-3 md:p-0 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Janela
            ambiental</a>
        </li>
        <li>
          <a routerLink="/linha-do-tempo" routerLinkActive="router-link-active"
            class="block py-2 px-3 md:p-0 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Linha
            do tempo</a>
        </li>
        <li>
          <a href="https://www.advancesincleanerproduction.net/13th/site/index.html" target="_blank"
            class="block py-2 px-3 md:p-0 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
            1<sup class="text-[9px]">ST</sup> IWPPO <i class="pi pi-external-link"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>