<main
  class="flex flex-col justify-center items-center bg-transparent min-h-screen mb-40 md:mb-44 mt-44 md:mt-[30vh] lg:mt-[25vh] xl:mt-[44vh] 2xl:mt-2"
>
  <div
    class="bg-white w-80 h-80 mb-10 rounded-lg flex justify-center items-center"
  >
    <img
      src="assets/images/janela-ambiental-removebg.png"
      alt="janela ambiental"
      class="max-h-80 md:max-h-96"
    />
  </div>

  <app-carousel [images]="quadrinhos_01" class="sm:hidden" />
  <app-janela-ambiental-images [images]="quadrinhos_01" />
  <app-janela-ambiental-text
    title="Garças são bioindicadoras? 🤔"
    description="Você sabia que a presença de garças em determinados ambientes pode ser
  utilizado como bioindicador de poluição? Isso é devido às características
  ecológicas e comportamentais dessas aves. Confira mais clicando no botão
  abaixo 🕊️🌊."
    instagramLink="https://www.instagram.com/p/C9H82KUx5F5/?img_index=1"
  />

  <app-carousel [images]="quadrinhos_02" class="sm:hidden" />
  <app-janela-ambiental-images [images]="quadrinhos_02" />
  <app-janela-ambiental-text
    title="Caranguejos eremitas recorrem mais ao lixo plástico do que conchas naturais 🤔"
    description="Buscando conchas como armadura para seus corpos, caranguejos
  eremitas ao redor do mundo estão recorrendo mais ao lixo plástico em vez de
  conchas naturais. É o que diz um estudo publicado em janeiro de 2024 na
  revista científica Science of the Total Environment. Os autores do estudo
  indicaram que dois terços das espécies de caranguejos eremitas foram
  registrados em 'conchas artificiais' — objetos descartados pelos humanos. Os
  cientistas afirmam estar 'desolados' ao ver até que ponto os animais estão
  convivendo com nossos resíduos. A pesquisa foi baseada na análise de fotos
  tiradas por entusiastas da vida selvagem e publicadas em redes sociais e em
  sites de compartilhamento de fotos. "
    instagramLink="https://www.instagram.com/p/C9PhhACRh_M/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
  />

  <app-carousel [images]="quadrinhos_03" class="sm:hidden" />
  <app-janela-ambiental-images [images]="quadrinhos_03" />
  <app-janela-ambiental-text
    title="Garrafas plásticas e embalagens de salgadinhos chegaram às partes mais profundas dos oceanos do mundo 🤔"
    description="Garrafas plásticas e embalagens de salgadinhos chegaram às partes mais profundas dos oceanos do mundo, chegando a profundidades de quase 11.000 metros (36.100 pés), de acordo com um novo estudo publicado na Marine Policy
    Analisando três décadas de vídeos, os pesquisadores encontraram uma variedade de lixo feito pelo homem, como metal, pedaços de tecido, e partes de rede de pesca nas profundidades oceânicas. Porém, fragmentos de plástico compunham um terço dos detritos. Destes, 89% eram itens de uso único, como sacolas plásticas e garrafas de água.
    Ainda não está claro como os plásticos afetam os animais nessas regiões profundas dos oceanos. A interação dos animais com seu ambiente e entre si é tão complexa que é muito difícil prever o que pode acontecer, e alguns dos resultados podem ser inesperados, diz a matéria publicada no site da MONGABAY."
    instagramLink="https://www.instagram.com/p/C9cFhSnR-O6/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
  />

  <app-carousel [images]="quadrinhos_04" class="sm:hidden" />
  <app-janela-ambiental-images [images]="quadrinhos_04" />
  <app-janela-ambiental-text
    title="O lixo lançado ao mar pode viajar por milhares de quilômetros ao redor do planeta graças às correntes oceânicas 🤔"
    description="O lixo lançado ao mar pode viajar por milhares de quilômetros ao redor do planeta graças às correntes oceânicas, que funcionam como grandes rios dentro do oceano, transportando água, calor, nutrientes — e também resíduos. Essas correntes seguem padrões circulares chamados giros oceânicos, que conectam diferentes regiões do mundo.

    Quando o lixo, principalmente plástico, entra no mar — seja por rios, esgotos ou diretamente das praias — ele pode ser carregado por essas correntes por longas distâncias. No caso do Atlântico Sul, por exemplo, o lixo gerado no litoral brasileiro pode ser levado em direção à costa africana pelas correntes que saem do Brasil rumo ao leste. Da mesma forma, resíduos descartados na África podem atravessar o Atlântico e chegar às praias brasileiras, especialmente no Nordeste. Essa troca é favorecida pela Corrente Sul-Equatorial, que se move do continente americano em direção ao africano, e por sua divisão em outras correntes costeiras que espalham o lixo pelas margens dos continentes.
    
    Esse transporte intercontinental de lixo mostra como o problema da poluição marinha é global e interconectado: o que é descartado em um país pode impactar ecossistemas e comunidades do outro lado do oceano."
  />

  <app-carousel [images]="quadrinhos_05" class="sm:hidden" />
  <app-janela-ambiental-images [images]="quadrinhos_05" />
  <app-janela-ambiental-text
    title="O que aconteceu com os patinhos de borracha? 🤔"
    description="Um contêiner com brinquedos de banho, incluindo vários patinhos de borracha amarelos, caiu no Oceano Pacífico Norte em janeiro de 1992, sendo esses brinquedos flutuantes eles eram carregados pelas correntes oceânicas, sua jornada ajudou cientistas a estudar e mapear as correntes oceânicas, fornecendo conhecimentos valiosos sobre os padrões de circulação global, embora o incidente tenha sido um experimento científico fascinante, ele também destacou a questão da poluição plástica nos oceanos, os brinquedos, embora inofensivos à primeira vista, representavam um problema maior de resíduos plásticos e suas consequências ambientais de longo prazo.
    O vazamento dos patinhos de borracha inspirou mais pesquisas sobre as correntes oceânicas e o movimento de detritos no ambiente marinho, o que ajudou a aumentar a conscientização sobre a poluição plástica e seu impacto nos ecossistemas marinhos,servindo como um lembrete severo da necessidade de práticas sustentáveis ​​e redução de resíduos.
    "
    instagramLink="https://www.instagram.com/p/DBRNHj3RZVB/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
  />

  <div class="w-full max-w-7xl mx-auto">
    <app-article-section
      title="Você conhece os três R's?"
      subtitle="Oceanos de plástico"
      [videoUrl]="getSafeUrl('https://www.youtube.com/embed/PoQyh4lZPcc')"
      [instagramUrl]="'https://www.instagram.com/reel/CwivphwReYx/'"
    ></app-article-section>

    <app-article-section
      title="Janela Ambiental - Episódio 2"
      subtitle="Oceanos de plástico"
      [videoUrl]="getSafeUrl('https://www.youtube.com/embed/I9tYEHr3vZQ')"
      [instagramUrl]="'https://www.instagram.com/reel/C6Z4u3SrHn_/'"
      [reverseLayout]="true"
    ></app-article-section>

    <app-article-section
      title="Janela Ambiental - Episódio 3"
      subtitle="Oceanos de plástico"
      [videoUrl]="getSafeUrl('https://www.youtube.com/embed/tpTO3GzTO8k')"
      [instagramUrl]="'https://www.instagram.com/reel/CwFrWR5xA8L/'"
    ></app-article-section>

    <app-article-section
      title="Janela Ambiental - Episódio 4"
      subtitle="Oceanos de plástico"
      [videoUrl]="getSafeUrl('https://www.youtube.com/embed/6vx3zPmCSYQ')"
      [instagramUrl]="'https://www.instagram.com/reel/CyNEM8aOu2T/'"
      [reverseLayout]="true"
    ></app-article-section>

    <app-article-section
      title="Você sabe quantos copos plásticos já consumiu na vida?"
      subtitle="Oceanos de plástico"
      [videoUrl]="getSafeUrl('https://www.youtube.com/embed/Y2JmnnwIrJk')"
      [instagramUrl]="'https://www.instagram.com/reel/CwTDucbMQfO/'"
    ></app-article-section>
  </div>
</main>
