@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --primary: #043873;
  --secondary: #4F9CF9;
  --text-white: #FFF;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
  background-image: url('assets/images/bg.webp'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 140px;
  padding: 0;
}
