<footer class="bg-transparent mt-10">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between md:gap-10">
      <div class="mb-8 flex items-center gap-5 md:mb-0">
        <a href="https://unisanta.br/" target="_blank" rel="noopener noreferrer" class="footer-logo-link">
          <img
            src="assets/images/iwppo-2026/partners/unisanta.jpeg"
            class="footer-logo"
            alt="Universidade Santa Cecília - UNISANTA"
          />
        </a>
        <a routerLink="/" class="footer-logo-link">
          <img
            src="assets/images/iwppo-2026/partners/oceanosdeplastico.png"
            class="footer-logo"
            alt="Projeto Oceanos de Plástico"
          />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 md:grid-cols-3 xl:grid-cols-4">
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Páginas
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href="https://unisanta.br/"
                class="hover:text-white"
                target="_blank"
                rel="noopener noreferrer"
                >Blog</a
              >
            </li>
            <li class="mb-4">
              <a
                routerLink="/linha-do-tempo"
                routerLinkActive="router-link-active"
                class="hover:text-white"
                >Linha do tempo</a
              >
            </li>
            <li class="mb-4">
              <a
                routerLink="/realizacoes-academicas"
                routerLinkActive="router-link-active"
                class="hover:text-white"
                >Realizações acadêmicas</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Siga-nos
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li>
              <a
                href="https://instagram.com/projetooceanosdeplastico"
                class="hover:underline"
                target="_blank"
                rel="noopener noreferrer"
              >
                Instagram
              </a>
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Desenvolvimento
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                href="https://github.com/iagomauricioo/oceanos-plastico-angular"
                class="hover:underline"
                target="_blank"
                rel="noopener noreferrer"
                >Github</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2
            class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
          >
            Políticas e Regulamentos
          </h2>
          <ul class="text-gray-500 dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a
                routerLink="/licenca-acpn"
                routerLinkActive="router-link-active"
                class="hover:text-white"
              >
                Licença ACPN
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2025
        <a routerLink="/" class="hover:underline"
          >Observatório da Poluição Plástica nos Oceanos</a
        >. Todos direitos reservados.
      </span>
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        <a
          href="https://instagram.com/projetooceanosdeplastico"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="pi pi-instagram"></i>
          <span class="sr-only">Instagram page</span>
        </a>
        <a
          href="https://github.com/iagomauricioo/oceanos-plastico-angular"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="pi pi-github"></i>
          <span class="sr-only">GitHub account</span>
        </a>
        <a
          routerLink="/login"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5"
        >
          <i class="pi pi-cog"></i>
          <span class="sr-only">Administradores</span>
        </a>
      </div>
    </div>
  </div>
</footer>
