<footer class="bg-white rounded-lg shadow-sm m-4 dark:bg-secondary">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-textWhite sm:text-center dark:text-textWhite"
      >© 2025
      <a href="#" class="hover:underline">Oceanos de Plástico</a>. Todos os direitos reservados.
    </span>
    <ul
      class="sm:flex flex-wrap items-center mt-3 text-sm font-medium text-textWhite dark:text-textWhite sm:mt-0 hidden"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Projetos</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Soluções</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Colaboradores</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Contato</a>
      </li>
    </ul>
  </div>
</footer>
